@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans";
  color: rbg(1, 59, 112);
  background-color: #89E6AB;
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-base-body-px);
  font-weight: 300;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: var(--font-family-heading);
}

img {
  max-width: 100%;
}

:root {
  --spacing: 1rem;
  --max-width: 1400px;
  --color-primary: #f0f0f8;
  --color-header: #fff;
  --color-text: #000;
  --color-border: #ccc;
  --font-base-body-px: 16px;
  --font-base-size: 1rem;
  --font-family-base: "Nunito", Helvetica, Arial, sans-serif;
  --font-family-heading: "Domine", Georgia, serif;
  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter));
}

header {
  background-image: url(../images/menningarnott-header.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 30rem;
  color: var(--color-text);
  background-color: var(--color-background);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 15rem;
}
header .logo-and-navigation {
  display: flex;
  flex-direction: row;
}
.logo-and-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  width: calc(100% - 2 * var(--offset));
  margin: calc(var(--vertical-space) / 2) auto;
}
.logo-and-navigation .logo {
  max-width: 100%;
}

.navigation ul li {
  display: inline-block;
  padding-left: calc(var(--spacing));
  list-style: none;
}

li, a {
  color: var(--color-primary2);
  font-size: var(--font-base-size);
  font-weight: 400;
  text-decoration: none;
}

.home {
  display: none;
}

#menu {
  display: none;
}

.checkbtn {
  font-size: calc(var(--font-base-size) * 2);
  float: right;
  cursor: pointer;
  display: none;
}

@media (max-width: 600px) {
  header {
    background-position: left;
  }
  .header-text {
    padding-top: 6rem;
  }
  .header-text h1 {
    font-size: 2.5rem;
  }
  .pumpkin-header-text {
    display: none;
  }
  .header-content {
    text-align: center;
  }
  .header-content .header-main-text {
    display: none;
  }
  .header-content .header-mobile-text {
    display: block;
    margin: 0 auto;
  }
  .header-content .details {
    display: block;
    margin: 0 auto;
    order: 1;
    list-style: none;
    text-align: left;
  }
  .checkbtn {
    cursor: pointer;
    display: block;
  }
  .nav-links {
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 3rem;
    top: 5rem;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navigation ul li {
    display: block;
    padding-bottom: calc(var(--spacing));
    padding-left: 0;
  }
  .navigation ul li a {
    color: var(--color-text);
    font-family: var(--font-family-heading);
    font-size: calc(var(--font-base-size) * 4);
  }
  a:hover, a.active {
    background: none;
    color: var(--color-primary);
  }
  .home {
    display: block;
  }
  .usx {
    display: none;
  }
  .menu-close {
    display: none;
  }
  #menu:checked ~ ul {
    right: 0;
    background: var(--color-background);
  }
  #menu:checked ~ .checkbtn .menu-icon {
    display: none;
  }
  #menu:checked ~ .checkbtn .menu-close {
    display: block;
  }
}
@media (max-width: 1000px) {
  .header-text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
}
.overview .header-content {
  display: grid;
  grid-template-rows: auto;
  max-width: var(--max-width);
}
.overview input {
  width: auto;
}
.overview .header-text {
  width: 100%;
  grid-column: 2/span 17;
  grid-template-columns: 100%;
}

@media (min-width: 600px) {
  .video-check {
    display: flex;
    justify-content: flex-end;
    max-width: var(--max-width);
    width: calc(100% - 2 * var(--offset));
  }
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagenumbers button {
  width: 50px;
  height: 50px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #89e6ab;
  margin: 5px;
  transition: 0.4s;
  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
  background-color: #44eeaa;
}

.pagenumber button.active {
  background-color: #44eeaa;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.cards {
  display: grid;
  grid-template-rows: auto;
  gap: var(--gutter);
  margin-bottom: var(--vertical-space);
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.card .kicker {
  color: var(--color-primary2);
  font-weight: 300;
}

.card > .content {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
  padding: 1rem;
}

.card > .content > p {
  flex: 1;
}

.card > .image {
  order: -1;
  height: 300px;
}

.card > .image img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 300px;
}

/*# sourceMappingURL=styles.css.map */
