@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {

 

  background-color: #89e6ab;
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-base-body-px);
  font-weight: 300;
  line-height: 1.5;

h1, h2, h3 {
=========
  font-family: "Opens Sans";
  font-size: 16px;
  font-weight: 300;
  color: rgb(1, 59, 112);
  background-color: #89e6ab;
  line-height: 1.8;
}

h1,
h2 {
  font-family: var(--font-family-heading);
}

img {
  max-width: 100%;
}

h1.page-header {
  word-wrap: break-word;
  font-family: "Oswald";
  color: rgb(1, 59, 112);
  text-align: center;
  padding: 20px 0;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.page-header {
  border-bottom: solid 4px rgb(1, 59, 112);
}

:root {
  --spacing: 1rem;
  --max-width: 1400px;
  --color-primary: #f0f0f8;
  --color-header: #fff;
  --color-text: #000;
  --color-border: #ccc;
  --font-base-body-px: 16px;
  --font-base-size: 1rem;
  --font-family-base: 'Nunito', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Domine', Georgia, serif;
  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter));
}

header {
  background-attachment: scroll;
  background-color: var(--color-background);
  background-image: url(../images/menningarnott-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--max-width);
  padding-bottom: 15rem;
  width: 100%;
}

header .logo-and-navigation {
  display: flex;
  flex-direction: row;
}

.logo-and-navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: calc(var(--vertical-space) / 2) auto;
  max-width: var(--max-width);
  width: calc(100% - 2 * var(--offset));
}

.logo-and-navigation .logo {
  max-width: 100%;
}

.navigation ul li {
  display: inline-block;
  list-style: none;
  padding-left: calc(var(--spacing));
}

li,
a {
  color: var(--color-primary2);
  font-size: var(--font-base-size);
  font-weight: 400;
  text-decoration: none;
}

.home {
  display: none;
}

#menu {
  display: none;
}

.checkbtn {
  cursor: pointer;
  display: none;
  float: right;
  font-size: calc(var(--font-base-size) * 2);
}

@media (max-width: 600px) {
  header {
    background-position: left;
  }

  .header-text {
    padding-top: 6rem;
  }

  .header-text h1 {
    font-size: 2.5rem;
  }

  .pumpkin-header-text {
    display: none;
  }

  .header-content {
    text-align: center;
  }

  .header-content .header-main-text {
    display: none;
  }

  .header-content .header-mobile-text {
    display: block;
    margin: 0 auto;
  }

  .header-content .details {
    display: block;
    list-style: none;
    margin: 0 auto;
    order: 1;
    text-align: left;
  }

  .checkbtn {
    cursor: pointer;
    display: block;
  }

  .nav-links {
    height: 100%;
    padding-top: 3rem;
    position: fixed;
    right: -100%;
    text-align: center;
    top: 5rem;
    transition: all 0.5s;
    width: 100%;
  }

  .navigation ul li {
    display: block;
    padding-bottom: calc(var(--spacing));
    padding-left: 0;
  }

  .navigation ul li a {
    color: var(--color-text);
    font-family: var(--font-family-heading);
    font-size: calc(var(--font-base-size) * 4);
  }

  a:hover,
  a.active {
    background: none;
    color: var(--color-primary);
  }

  .home {
    display: block;
  }

  .usx {
    display: none;
  }

  .menu-close {
    display: none;
  }

  #menu:checked ~ ul {
    background: var(--color-background);
    right: 0;
  }

  #menu:checked ~ .checkbtn .menu-icon {
    display: none;
  }

  #menu:checked ~ .checkbtn .menu-close {
    display: block;
  }
}
@media (max-width: 1000px) {
  .header-text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
}

.overview .header-content {
  display: grid;
  grid-template-rows: auto;
  max-width: var(--max-width);
}

.overview input {
  width: auto;
}

.overview .header-text {
  grid-column: 2/span 17;
  grid-template-columns: 100%;
  width: 100%;
}

@media (min-width: 600px) {
  .video-check {
    display: flex;
    justify-content: flex-end;
    max-width: var(--max-width);
    width: calc(100% - 2 * var(--offset));
  }
}
