/* stylelint-disable selector-pseudo-element-colon-notation */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #89e6ab;
  color: rbg(1, 59, 112);
  color: var(--color-text);
  font-family: Open Sans;
  //font-size: 16px;
  font-family: var(--font-family-base);
  font-size: var(--font-base-body-px);
  font-weight: 300;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
}

img {
  max-width: 100%;
}
