.cards {
    display: grid;
  grid-template-rows: auto;
  gap: var(--gutter);
  margin-bottom: var(--vertical-space);
}

.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
  }
  
  
  .cards > .content-cards {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: var(--spacing);
    padding: 1rem;
  }
  
  .cards > .content-cards > p {
    flex: 1;
  }
  
  .cards > .image {
    order: -1;
    height: 300px;
  }
  
  .cards > .image img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 300px;
  }
