.cards {
    display: grid;
  grid-template-rows: auto;
  gap: var(--gutter);
  margin-bottom: var(--vertical-space);
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
  }
  .card .kicker {
    color: var(--color-primary2);
    font-weight: 300;
  }
  
  .card > .content {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: var(--spacing);
    padding: 1rem;
  }
  
  .card > .content > p {
    flex: 1;
  }
  
  .card > .image {
    order: -1;
    height: 300px;
  }
  
  .card > .image img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 300px;
  }
