/* stylelint-disable selector-max-id */
header {
  background-attachment: scroll;
  background-color: #89e6ab;
  background-image: url('../images/menningarnott-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--max-width);
  padding-bottom: 15rem;
  width: 100%;

  .logo-and-navigation {
    display: flex;
    flex-direction: row;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }
}

.logo-and-navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: calc(var(--vertical-space) / 2) auto;
  max-width: var(--max-width);
  width: calc(100% - (2 * var(--offset)));

  .logo {
    max-width: 50%;
  }
}

.navigation ul li {
  display: inline-block;
  list-style: none;
  padding-left: calc(var(--spacing));
}

li,
a {
  color: var(--color-primary2);
  font-size: var(--font-base-size);
  font-weight: 400;
  text-decoration: none;
}

.home {
  display: none;
}

#menu {
  display: none;
}

.checkbtn {
  cursor: pointer;
  display: none;
  float: right;
  font-size: calc(var(--font-base-size) * 2);
}

//minna en 600px
@media (max-width: 600px) {
  header {
    background-position: left;
  }

  .header-text {
    padding-top: 6rem;

    h1 {
      font-size: 2.5rem;
    }
  }

  .header-content {
    text-align: center;

    .header-main-text {
      display: none;
    }

    .header-mobile-text {
      display: block;
      margin: 0 auto;
    }

    .details {
      display: block;
      list-style: none;
      margin: 0 auto;
      order: +1;
      text-align: left;
    }
  }

  .checkbtn {
    cursor: pointer;
    display: block;
  }

  .nav-links {
    height: 100%;
    padding-top: 3rem;
    right: -100%;
    text-align: center;
    top: 5rem;
    transition: all 0.5s;
  }

  .navigation ul li {
    display: block;
    padding-bottom: calc(var(--spacing));
    padding-left: 0;
    /* stylelint-disable-next-line selector-max-compound-selectors */
    a {
      color: var(--color-text);
      font-family: var(--font-family-heading);
      font-size: calc(var(--font-base-size) * 4);
    }
  }

  /* stylelint-disable-next-line selector-no-qualifying-type */
  a:hover a.active {
    background: none;
    color: var(--color-primary);
  }

  .home {
    display: block;
  }

  .usx {
    display: none;
  }

  .menu-close {
    display: none;
  }

  #menu:checked ~ ul {
    background: var(--color-background);
    right: 0;
  }

  #menu:checked ~ .checkbtn {
    .menu-icon {
      display: none;
    }

    .menu-close {
      display: block;
    }
  }
}

//minna en 1000px
@media (max-width: 1000px) {
  .header-text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
}

.overview {
  .header-content {
    display: grid;
    grid-template-rows: auto;
    max-width: var(--max-width);
  }

  input {
    width: auto;
  }

  .header-text {
    grid-column: 2 / span 17;
    grid-template-columns: 100%;
    width: 100%;
  }
}
