form {
  background-color: var(--search-color);
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

main {
  background-color: #89E6AB;
  margin: 0 auto;
  max-width: var(--max-width);
}

#map {
  height: 50vh;
  width: 50vw;
}
