form {
  background-color: var(--search-color);
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

main {
  /* stylelint-disable-next-line color-hex-case */
  background-color: #89e6ab;
  margin: 0 auto;
  max-width: var(--max-width);
}

#map {
  height: 50vh;
  width: 50vw;
}
